Package: com.imokhles.ingenhancer
Name: INGEnhancer
Depends: mobilesubstrate, firmware (>= 8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: instagram enhancer tweak
Author: iMokhles <mokhleshussien@aol.com>
Section: Tweaks
